      <div class='row'>
        <div class='col-md-3 mt-2'>
          <div class='row'>
            <div class='col-md-12'>
              <div class='min-box'>
                <header class="border border-dark rounded">
                  <p>View by categories</p>
                </header>
                <content>
                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          Physical
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <ul class="list-group p-2">
                             {{#each challengeByType.physical}}
                              <a id='accept-challenge' class="list-group-item list-group-item-action text-center" data-id={{id}}>{{name}}
                              </a>
                              {{/each}}
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Mental
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <ul>
                             {{#each challengeByType.mental}}
                              <a id='accept-challenge' class="list-group-item list-group-item-action text-center" data-id={{id}}>{{name}}
                              </a>
                              {{/each}}
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Other
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <ul>
                             {{#each challengeByType.other}}
                              <a id='accept-challenge' class="list-group-item list-group-item-action text-center" data-id={{id}}>{{name}}
                              </a>
                              {{/each}}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </content>
              </div>
            </div>
          </div>
        </div>
        <div class='col-md-5 mt-2'>
          <div class='row'>
            {{#each challenge}}
              <div class='col-md-12 challengeBox' >
                <div
                  class='text-center d-flex flex-column justify-content-evenly border rounded'
                  style='background-color: #fff; height: 300px;'
                >
                  <h2>{{name}}</h2>
                  <p>Worth {{score}} points</p>
                  <div class="container-fluid d-flex justify-content-evenly align-items-center">
                    <p>Created By {{user.name}}</p>
                    {{# if user.image}}
                    <img src={{user.image}} class="img-thumbnail challengeImage">
                    {{/if}}
                  </div>
                  <div class='text-center p-3'>
                    <button id='accept-challenge' class='btn btn-sm btn-primary' data-id={{id}}>Accept Challenge!</button>
                  </div>
                </div>
                <div
                  class='row post_link'
                  style='padding: 15px 0; color: #fff; font-size: 17px; text-align: center;'
                >
                  <div class='col-md-4' style=''>
                    <a href=''>+20</a>
                    Accepted
                  </div>
                  <div class='col-md-4'><a href=''>+5</a> Completed</div>
                  <div class='col-md-4'><a href=''>+2</a> Watch</div>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
    <div class='col-md-4 mt-2'>
      <div class='row'>
        <div class='col-md-12'>
          <div class='min-box'>
            <header class="border border-dark rounded">
              <p>Pending challenges</p>
            </header>
            <content>
              <ul class='list-group '>
                {{#each accepted}}
                {{#unless completed}}
                <li
                  class='list-group-item d-flex justify-content-between align-items-start'
                >
                  <div class='ms-2 me-auto'>
                    <div class='fw-bold'>{{challenge.name}}</div>
                    Score: {{challenge.score}}
                  </div>
                  <span class='badge rounded-pill'>
                    <button
                      id="complete-challenge"
                      class='btn btn-sm btn-primary'
                      data-acceptedId={{id}}
                      data-score={{challenge.score}}
                      
                    >Completed</button>
                  </span>
                </li>
                {{/unless}}
                {{/each}}
              </ul>
            </content>
          </div>
        </div>
        <div class='container-fluid'>
          <div class='container-fluid min-box bg-light p-4 border rounded'>
            <div class='row d-flex flex-wrap flex-row justify-content-evenly align-items-center'>
              <div class='col-md-4 text-center bg-dark'>
                  {{#if data.image}}
                    <img src={{{data.image}}} class='img-fluid' />
                  {{else}}
                    <img src='/images/noImage.jpeg' class='img-fluid' />
                  {{/if}}
                </div>
                <div class="col-md-8 text-center">
                  <p class="fs-2">{{data.name}}</p>
                </div>
              </div>
              <div class='container-fluid mx-auto mt-3'>
                <div class='d-flex flex-wrap flex-row align-items-center justify-content-evenly'>
                  <div class='px-3' style='text-align: center'>
                    Points
                    <p style='font-weight: 700;'>{{data.score}}</p>
                  </div>
                  <div class='px-3' style='text-align: center'>
                    Created
                    <p style='font-weight: 700;'>{{numCreated}}</p>
                  </div>
                  <div class='px-3' style='text-align: center'>
                    Completed
                    <p style='font-weight: 700;'>{{numCompleted}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<script src='/js/logout.js'></script>
<script src='/js/newChallenge.js'></script>